.pager {
    width: 800px;
    margin: 0px auto;

    text-align: center;
    border-top: 2px dotted #333;
    padding: 2em 0;
    margin-bottom: 2em;

    &__link {
        padding: 10px 20px;
        display: inline-block;
        margin: 2em 10px 0;

        transition: all 0.3s ease 0s;
        border-radius: 4px;
        background-color: #65a672;
        color: #fff;

        text-decoration: none;
        text-align: center;
    }

}
