.header {

    width: 800px;
    margin: 0px auto 40px;
    padding-bottom: 30px;

    text-align: center;

    border-bottom: 2px dotted #333;

    &__title {
        margin-bottom: 0.3em;
    }

    &__title-link {
        color: #333;
        font-size: 160%;
        text-decoration: none;

        transition: color 0.3s ease 0s;
    }

    &__title-link:hover {
        color: #538f5f;
    }

    &__slogan {
        color: #999;
        font-size: 120%;

        margin: 20px auto 0;
    }

}
